.App {
  /* background: url(./assets/images/site/background.jpg); */
  min-width: 100%;
  min-height: 100%;
  /* display: block; */
  position: fixed;
  /* background-size: cover; */
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.App-left {
  display: flex;
  flex: 1;
  width: 61.8%;
  height: 100%;
  position: fixed;
  justify-content: center;
  align-items: center;
  /* box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.16); */
  /* overflow-y: scroll; */
  /* background-color: #fff; */
  z-index: -1;
  /* padding: 40px; */
  /* width: 38.2%; */
  transition: all 1s ease-out;
  opacity: 0;
  transform: scale(0.9)
}

.App-left.active {
  /* display: flex; */
  /* flex: 1;
  width: 61.8%;
  height: 100%; */
  /* position: fixed; */
  /* justify-content: center; */
  /* align-items: center; */
  /* z-index: -1; */
  opacity: 1;
  transform: scale(1)
  /* padding: 40px; */
}

.App-left .HugeTitle{
  text-align: right;
  font-size: 144px;
  text-shadow: 3px 0px 6px rgba(0, 0, 0, 0.16);
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App-left .side-face {
  /* height: 2em; */
  height: 288px;
  /* margin-top: -0.5em; */
  margin-bottom: -1.5em;
  margin-left: 20px;

}

/* .App-left.active .HugeTitle{
  font-size: 144px;
  text-shadow: 3px 0px 6px rgba(0, 0, 0, 0.16);
  color: #fff;
} */

.App-right {
  /* display: block; */
  width: 38.2%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  /* box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.16); */
  overflow-y: scroll;
  overflow-x: hidden;
  /* background-color: #fff; */
  z-index: 80;
  left: 61.8%;
  /* padding: 40px; */
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 1s ease-in-out;
  -webkit-overflow-scrolling: touch;
  /* transition-delay: 0.3s; */

}

.App-right.active {
  /* display: block; */
  width: calc(100% - 100px);
  height: 100%;
  /* position: absolute; */
  /* box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.16); */
  /* overflow-y: scroll; */
  /* background-color: #fff; */
  /* z-index: 80; */
  left: 100px;
  /* padding: 40px; */
}

.Footer .Copyright {
  color: #fff;
  padding: 40px;
  text-align: center;
  /* border-top: 1px solid rgba(255, 255, 255, 0.5) */
}

h1 {
  font-weight: bold;
  color: #333;
  font-size: 22px;
}

hr {
  margin: 0;
  border: 0;
  border-top: 1px solid #eee;
}

.my-icon {
  display: block;
  height: 40px;
}
