.PortfolioContainer {
  /* height: 100%; */
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  flex:1;
  justify-content: space-between;
  /* overflow-x: scroll; */
  /* padding-right: 50px; */
  padding: 0 100px 100px 100px;
}

.PortfolioCoverContainer {
  /* margin: 100px; */
  margin-right: 0px;
  /* height: 100%; */
  max-width: 375px;
  display: flex;
  justify-content: flex-start;
  background-color: white;
}

.PortfolioCoverContainer.Expanded {
  width: 100%;
}

/* .PortfolioCoverContainer:last-of-type {
  margin-right: 50px;
} */

.PortfolioCover {
  max-width: 375px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  /* background-repeat: no-repeat; */
  /* background-size: auto 100%; */
  /* transition: all 0.5s ease-out; */
  /* background-t */
}

.CoverImage {
  width: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all 0.5s ease-out;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-bottom: -100px; */
  top: 0;
  /* margin-top: -50px; */
}

.CoverImage:hover {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);

}

/* .PortfolioCover:hover {
  background-filter: blur(8px);
  -webkit-filter: blur(8px);
} */

.PortfolioCoverBackdrop {
  /* position: absolute; */
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  font-size: 72px;
  color: #fff;
  margin-top: -50%;
  z-index: 2;
  top: 0;
  pointer-events: none;
}

.EndIndicatorWrapper {
  margin: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.EndIndicator {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 1px solid white;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

.VerticalLine {
  height: calc((100% - 100px) / 2);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  margin-right: 100px;
}