.Header {
  width: calc(100% - 80px);
  background-color: white;
  padding: 40px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  /* justify-content: space-between; */
  display: block;
  position: fixed;
  z-index: 999;
  font-size: 22px;
}

.App-logo {
  height: 40px;
  margin: -7px;

}

.App-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.App-title {
  display: block;
}

.Navbar {
  display: flex;
  /* text-decoration: none; */
  list-style-type: none;
  /* justify-content:  */
  justify-content: flex-end;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.Navbar li {
  text-decoration: none;
  display: block;
  margin: 0;
  margin-left: 20px;
  padding: 0;
  /* display: inline; */
}

.Navbar li a {
  color: #999;
  font-weight: bold;
  text-decoration: none;
  transition: ease-in-out 0.3s;
}

.Navbar li a:hover {
  color: #666;
}